@media only screen and (max-width: 700px) {
  .headerMain {
    height: 45px;
  }
  .text {
    font-size: 15px;
    line-height: 20px;
    font-weight: lighter;
  }
  .hidePanelButton {
    font-size: 40px;
    display: block;
    position: absolute;
    right: 5px;
    top: 2px;
    z-index: 2;
  }
  .showPanelButton {
    font-size: 40px;
    display: block;
    position: absolute;
    left: 5px;
    top: 2px;
  }
  .infoHeader {
    display: -webkit-inline-box;
  }
  .headerButtons {
    display: none;
  }
  .phoneButtonMobile {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 10px;
    right: 15px;

    font-weight: bold;
    font-size: 37px;
    line-height: 0;
    text-shadow: none;

    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #4d6885;

    box-shadow: 5px 15px 6px rgb(0 0 0 / 50%);
  }
}
