<div class="headerMain unselectable">
    <fa-icon class="text showPanelButton" [icon]="faBars" (click)="showPanel()"></fa-icon>
    <div class="text infoHeader"> Будни 10:00 - 22:00<br>СБ, ВС 9:00 - 22:00</div>
    <ul class="text headerButtons">
        <a href="#home"><li class="button">Главная</li></a>
        <a href="#advantages"><li class="button">Преимущества</li></a>
        <a href="#costs"><li class="button">Стоимость</li></a>
        <a href="#discounts"><li class="button">Акции</li></a>
        <a href="https://vk.com/write-103375593"><li class="button contactUs">Связаться</li></a>
    </ul>
</div>
<div class="leftPanel hide">
    <fa-icon class="text hidePanelButton" [icon]="faTimes" (click)="hidePanel()"></fa-icon>
    <ul class="text panelButtons hidenButtons">
        <li class="button">Главная</li>
        <li class="button">Преимущества</li>
        <li class="button">Стоимость</li>
        <li class="button">Акции</li>
    </ul>
</div>
