<div class="containerFooter">
    <div class="listFooter">
        <a href="https://vk.com/thedoski124"><div class="text itemFooter"><fa-icon [icon]="faVk"></fa-icon></div></a>
        <a href="https://www.instagram.com/thedoski/"><div class="text itemFooter"><fa-icon [icon]="faInstagram"></fa-icon></div></a>
        <a href="https://api.whatsapp.com/send/?phone=79676127042&text&app_absent=0"><div class="text itemFooter"><fa-icon [icon]="faWhatsapp"></fa-icon></div></a>
    </div>
    <div class="text tFooter">Прокат сноубордов в Красноярске "THE DOSKI"<br>т. 272-70-42</div>
</div>