.headerAdvan{
    padding: 30px 0px 0px 0px;
    text-shadow: none;
    color: #18191A;
    font-size: 40px;
}
.containerAdvan{
    padding: 30px 0px 30px 0px;
    display: flex;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}
.itemAdvan{
    cursor: pointer;
    width: 210px;
    height: 180px;
    border-radius: 50%;
    padding: 10px 0 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 30px 0;
    box-shadow: 0px 0px 10px 0px #000000ba;
}
.itemAdvan:active{
    box-shadow: inset 0px 0px 10px 5px rgb(0 0 0 / 50%);
}
.faIconAdvan{
    color: #617F9E;
    font-size: 75px;
}
.tAdvan{
    color: #617F9E;
    font-family: Arial;
    font-size: 19px;
    text-shadow: none;
    line-height: 23px;
}