@media only screen and (max-width: 700px) {
  .backgroundHome {
    margin: 45px 0 0 0;
  }
  .imageHome {
    padding: 20px 0 20px 0px;
  }
  .containerInfoHome {
    padding: 0 0 0 0;
  }
  .backgroundInfoHome {
    width: 310px;
  }
  .tHome4 {
    line-height: 30px;
  }
}
