<div class="backgroungAddDialog">
    <div class="containerAddDialog">
        <div class="container">
            <label>ФИО:</label>
            <input type="text"/>
        </div>
        <div class="container">
            <label>Номер телефона:</label>
            <input type="text"/>
        </div>
        <div class="cRateAndCost">
            <div class="container">
                <label>Тариф:</label>
                <input type="text"/>
            </div>
            <div class="container">
                <label>Кол-во:</label>
                <input id="count" type="number" placeholder="0"/>
            </div>
            <div class="container">
                <label>П/О:</label>
                <input id="checkbox" type="checkbox"/>
            </div>
            <div class="container">
                <label>Итоговая стоимость:</label>
                <input type="text" readonly=true placeholder="0"/>
            </div>
        </div>
        <div class="containerEquipment">
            <div class="columnItem">
                <div class="itemEquipment">
                    <label>Комплект</label>
                    <input id="count" type="number" placeholder="0"/>
                    <input id="cost"  type="text" readonly=true placeholder="0"/>
                </div>
                <div class="itemEquipment">
                    <label>Доска</label>
                    <input id="count" type="number" placeholder="0"/>
                    <input id="cost" type="text" readonly=true placeholder="0"/>
                </div>
                <div class="itemEquipment">
                    <label>Лыжи</label>
                    <input id="count" type="number" placeholder="0"/>
                    <input id="cost" type="text" readonly=true placeholder="0"/>
                </div>
                <div class="itemEquipment">
                    <label>Боты</label>
                    <input id="count" type="number" placeholder="0"/>
                    <input id="cost" type="text" readonly=true placeholder="0"/>
                </div>
                <div class="itemEquipment">
                    <label>Крепы</label>
                    <input id="count" type="number" placeholder="0"/>
                    <input id="cost" type="text" readonly=true placeholder="0"/>
                </div>
                <div class="itemEquipment">
                    <label>Палки</label>
                    <input id="count" type="number" placeholder="0"/>
                    <input id="cost" type="text" readonly=true placeholder="0"/>
                </div>
                <div class="itemEquipment">
                    <label>Доска+крепы</label>
                    <input id="count" type="number" placeholder="0"/>
                    <input id="cost" type="text" readonly=true placeholder="0"/>
                </div>
            </div>
            <div class="columnItem">
                <div class="itemEquipment">
                    <label>Шлем</label>
                    <input id="count" type="number" placeholder="0"/>
                    <input id="cost" type="text" readonly=true placeholder="0"/>
                </div>
                <div class="itemEquipment">
                    <label>Очки</label>
                    <input id="count" type="number" placeholder="0"/>
                    <input id="cost" type="text" readonly=true placeholder="0"/>
                </div>
                <div class="itemEquipment">
                    <label>Куртка</label>
                    <input id="count" type="number" placeholder="0"/>
                    <input id="cost" type="text" readonly=true placeholder="0"/>
                </div>
                <div class="itemEquipment">
                    <label>Штаны</label>
                    <input id="count" type="number" placeholder="0"/>
                    <input id="cost" type="text" readonly=true placeholder="0"/>
                </div>
                <div class="itemEquipment">
                    <label>Перчатки</label>
                    <input id="count" type="number" placeholder="0"/>
                    <input id="cost" type="text" readonly=true placeholder="0"/>
                </div>
                <div class="itemEquipment">
                    <label>Хоба</label>
                    <input id="count" type="number" placeholder="0"/>
                    <input id="cost" type="text" readonly=true placeholder="0"/>
                </div>
                <div class="itemEquipment">
                    <label>Костюм</label>
                    <input id="count" type="number" placeholder="0"/>
                    <input id="cost" type="text" readonly=true placeholder="0"/>
                </div>
            </div>
        </div>
        <div class="containerComment">
            <label>Комментарии:</label>
            <textarea type="text" rows="6"></textarea>
        </div>
        <button class="buttonAddClient">Добавить клиента</button>
    </div>
</div>
