<div class="headerMain unselectable">
    <fa-icon class="text showPanelButton" [icon]="faBars" (click)="showPanel()"></fa-icon>
    <div class="text infoHeader"> Будни 10:00 - 22:00<br>СБ, ВС 9:00 - 22:00</div>
    <ul class="headerButtons">
        <a href="#home"><li class="button text">Главная</li></a>
        <a href="#advantages"><li class="button text">Преимущества</li></a>
        <a href="#costs"><li class="button text">Стоимость</li></a>
        <a href="#discounts"><li class="button text">Акции</li></a>
        <a href="https://api.whatsapp.com/send/?phone=79676127042&text&app_absent=0"><li class="button contactUs text">Связаться</li></a>
    </ul>
</div>
<div class="leftPanel" [@openClosePanel]="isPanelOpen ? 'open' : 'closed'">
    <fa-icon class="text hidePanelButton" [icon]="faTimes" (click)="hidePanel()"></fa-icon>
    <ul class="text panelButtons">
        <a href="#home"><li class="button" (click)="hidePanel()">Главная</li></a>
        <a href="#advantages"><li class="button" (click)="hidePanel()">Преимущества</li></a>
        <a href="#costs"><li class="button" (click)="hidePanel()">Стоимость</li></a>
        <a href="#discounts"><li class="button" (click)="hidePanel()">Акции</li></a>
    </ul>
</div>

<a href="tel:+73912727042">
    <div class="phoneButtonMobile text"    
         (@compressIconPhone.done)="compressAnimDone()"
         [@compressIconPhone]="isIconBig ? 'big' : 'small'">
        <fa-icon [icon]="faPhone"></fa-icon>
    </div>
</a>