<div class="backgroundCosts">
     <div class="text tCosts1 unselectable">СТОИМОСТЬ ПРОКАТА СНОУБОРДОВ</div>
     <div class="text tCosts2 unselectable">Действует система скидок.<br>
          Корпоративным клиентам индивидуальные условия.</div>
     <div class="text tCosts3">400р/будний день - комплект<br>
          500р/выходной день - комплект<br>
          100р/день - перчатки, хоба, очки<br>
          150р/день - шлем</div>
     <div class="text tCosts3 unselectable">При себе иметь паспорт или водительское удостоверение</div>
     <div class="containerButtonCosts">
          <a href="https://vk.me/thedoski124"><div class="text buttonCosts unselectable">УЗНАТЬ ПОДРОБНЕЕ</div></a>
     </div>
</div>