<div class="headerAdvan unselectable text">ПОЧЕМУ МЫ</div>
<hr />
<div class="containerAdvan unselectable">
    <a href="https://vk.com/thedoski124">
        <div class="itemAdvan">
            <div class="faIconAdvan" ><fa-icon [icon]="faHandHoldingUsd"></fa-icon></div>
            <div class="text tAdvan">Низкие цены</div>
        </div>
    </a>
    <a href="https://vk.com/thedoski124">
        <div class="itemAdvan" href="https://vk.com/thedoski124">
            <div class="faIconAdvan" ><fa-icon [icon]="faCogs"></fa-icon></div>
            <div class="text tAdvan">Сервисное обслуживание</div>
        </div>
    </a>
    <a href="https://vk.com/thedoski124">
        <div class="itemAdvan" href="https://vk.com/thedoski124">
            <div class="faIconAdvan" ><fa-icon [icon]="faUserCheck"></fa-icon></div>
            <div class="text tAdvan">Инструктор по обучению</div>
        </div>
    </a>
    <a href="https://vk.com/thedoski124">
        <div class="itemAdvan" href="https://vk.com/thedoski124">
            <div class="faIconAdvan" ><fa-icon [icon]="faShoppingCart"></fa-icon></div>
            <div class="text tAdvan">Магазин</div>
        </div>
    </a>
</div>
