<span class="anchor" id="advantages"></span>
<div class="headerAdvan unselectable text">ПОЧЕМУ МЫ</div>
<hr />
<div class="containerAdvan unselectable">
    <a href="https://vk.com/thedoski124?z=photo-103375593_457240784%2Falbum-103375593_221700660">
        <div class="itemAdvan">
            <div class="faIconAdvan" ><fa-icon [icon]="faHandHoldingUsd"></fa-icon></div>
            <div class="text tAdvan">Низкие цены</div>
        </div>
    </a>
    <a href="https://vk.com/thedoski124?z=photo-103375593_457240770%2Falbum-103375593_221700660">
        <div class="itemAdvan">
            <div class="faIconAdvan" ><fa-icon [icon]="faCogs"></fa-icon></div>
            <div class="text tAdvan">Сервисное обслуживание</div>
        </div>
    </a>
    <a href="https://vk.com/thedoski124?z=photo-103375593_457240772%2Falbum-103375593_252918273">
        <div class="itemAdvan">
            <div class="faIconAdvan" ><fa-icon [icon]="faUserCheck"></fa-icon></div>
            <div class="text tAdvan">Инструктор по обучению</div>
        </div>
    </a>
</div>