@media only screen and (max-width: 700px){
    .headerMain{
        height: 45px;
    }
    .text{
        font-size: 15px;
        line-height: 20px;
        font-weight: lighter;
    }
    .hidePanelButton{
        font-size: 40px;
        display: block;
        position: absolute;
        right: 5px;
        top: 2px;
        z-index: 2;
    }
    .showPanelButton{
        font-size: 40px;
        display: block;
        position: absolute;
        left: 5px;
        top: 2px;
    }
    .leftPanel{
        display: block;    
    }
    .infoHeader{
        display: -webkit-inline-box;
    }
    .headerButtons{
        display: none;
    }
}