@media only screen and (max-width: 700px){
    .headerMain{
        height: 45px;
    }
    .text{
        font-size: 15px;
        line-height: 20px;
        font-weight: lighter;
    }
    .hidePanelButton{
        font-size: 40px;
        display: block;
        position: absolute;
        right: 5px;
        top: 2px;
        z-index: 2;
    }
    .showPanelButton{
        font-size: 40px;
        display: block;
        position: absolute;
        left: 5px;
        top: 2px;
    }
    .infoHeader{
        display: -webkit-inline-box;
    }
    .headerButtons{
        display: none;
    }
    .phoneButtonMobile
    {
        display: flex;
        justify-content: center;
        align-items: center;
        
        position: fixed;
        bottom: 30px;
        right: 15px;

        font-weight: bold;
        font-size: 54px;
        line-height: 0;
        text-shadow: none;

        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: #6A92BB;
    }
}