<div class="containerTable">
    <div class="tableOfClients">
        <div *ngFor='let client of listOfClients' class="rowClient">
            <div class="fieldClient" style='width: 150px;'>{{client.name}}</div>
            <div class="fieldClient" style='width: 120px;'>{{client.phone}}</div>
            <div class="fieldClient" style='width: 120px;'>{{client.rate}}</div>
            <div class="fieldClient" style='width: 200px;'>{{client.equipment}}</div>
            <div class="fieldClient" style='width: 100px;'>{{client.cost}}</div>
            <div class="fieldClient" style='width: 90px;'>{{client.dateStart}}</div>
            <div class="fieldClient" style='width: 90px;'>{{client.dateFinish}}</div>
            <div class="fieldClient" style='width: calc(100% - 870px);'>{{client.comment}}</div>
        </div>
    </div>
</div>
