<span class="anchor" id="home"></span>
<div class='content backgroundHome'>
    <div class="text tHome1 unselectable">ПРОКАТ СНОУБОРДОВ И ГОРНЫХ ЛЫЖ<br>В КРАСНОЯРСКЕ</div>
    <div class="text tHome2 unselectable">"THE DOSKI"</div>
    <div class="text tHome3">ул.Свердловская, 17а, ст.3, 1 этаж<br>т. 272-70-42</div>
    <div class="imageHome unselectable"><img src="../assets/images/logo.png" /></div>
    <div class="containerInfoHome unselectable">
        <div class="backgroundInfoHome">
            <div class="text tHome4">Прокат сноубордов и горных лыж от 250 руб.</div><br>
            <a href="https://vk.com/write-103375593"><div class="text buttonHome">УЗНАТЬ ПОДРОБНЕЕ</div></a>
        </div>
    </div>
</div>