.backgroundGallery {
  text-align: -webkit-center;
  box-shadow: 0px 0px 10px 0px #000000;
}
.containerGallery {
  width: 800px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.swipeButton {
  opacity: 15%;
  font-size: 70px;
  cursor: pointer;
  z-index: 1;
}
.swipeButton:hover {
  opacity: 60%;
}
.itemGallery {
  width: calc(100% - 70px);
}
